* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/images/gray_background.jpg);
  background-position: center;
  background-size: cover;
}

main {
  width: 90vw;
  margin: 20vh auto;
  min-width: 800px;
  max-width: 1300px;
  min-height: 800px;
  background-color: white;
  background-image: url("./images/bg-pattern-top-desktop.svg"),
    url("./images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  font-family: "Spartan", sans-serif;
  border: 1px solid rgb(177, 174, 174);
  border-radius: 25px;
}

/* SETTING UP THE GRID */

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "heading rating"
    "testimonials testimonials";
}

.heading {
  grid-area: heading;
  text-align: left;
  width: 70%;
}

/* STYLING THE HEADING SECTION */

.heading > h1 {
  font-weight: 900;
  font-size: 2.5em;
  color: #511f50;
  margin: 0 0 20px 0;
}

.heading > p {
  font-weight: 400;
  font-size: 1em;
  color: #a06ea0;
  margin: 50px 0 20px 0;
}

/* STYLING THE STAR RATING SECTION */

.rating {
  grid-area: rating;
  width: 100%;
}

.star_rating {
  display: inline-block;
}

.star_rating + p {
  display: inline-block;
  margin-left: 40px;
  text-align: center;
  color: #511f50;
  font-weight: 700;
  font-size: 0.9em;
}

.first_rating {
  border-radius: 10px;
  width: 72%;
  padding: 10px;
  margin: 0 0 30px 0;
  background-color: rgb(247, 242, 248);
}

.second_rating {
  border-radius: 10px;
  width: 72%;
  padding: 10px;
  margin: 0 0 30px 50px;
  background-color: rgb(247, 242, 248);
}

.third_rating {
  border-radius: 10px;
  width: 70%;
  padding: 10px;
  margin-left: 90px;
  background-color: rgb(247, 242, 248);
}

/* SETTING THE GRID AND STYLING THE TESTIMONIALS SECTION */

.testimonials {
  display: grid;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  grid-area: testimonials;
  width: 85%;
  margin-top: 50px;
  align-content: space-around;
}

.testimonial_colton {
  background-color: rgb(81, 32, 80);
  width: 100%;
  height: 16em;
  border-radius: 15px;
  padding: 30px;
}

.testimonial_irene {
  background-color: rgb(81, 32, 80);
  width: 92%;
  height: 16em;
  border-radius: 15px;
  padding: 30px;
  margin-top: 40px;
  margin-left: 30px;
}

.testimonial_anne {
  background-color: rgb(81, 32, 80);
  width: 92%;
  height: 16em;
  border-radius: 15px;
  padding: 30px;
  margin-top: 80px;
  margin-left: 30px;
}

img[alt="profile picture"] {
  border-radius: 50%;
  width: 20%;
}

.testimonial_colton > h2,
.testimonial_irene > h2,
.testimonial_anne > h2 {
  display: inline-block;
  color: #fff;
  font-size: 1.2em;
  padding-left: 10px;
  width: 70%;
  margin-bottom: 20px;
}

span {
  display: inline-block;
  color: rgb(147, 71, 122);
  font-size: 0.8em;
}

.testimonial_colton > p,
.testimonial_irene > p,
.testimonial_anne > p {
  color: #fff;
  font-size: 0.8em;
  line-height: 2em;
}

/* Media Queries */

@media (max-width: 1285px) {
  main {
    height: 105vh;
    margin: 10vh auto;
  }
  .container {
    display: flex;
    flex-direction: column;
  }

  .heading > h1 {
    text-align: center;
    margin-top: 50px;
  }

  .star_rating {
    display: block;
    padding: 5px 0;
    text-align: center;
  }

  .star_rating + p {
    display: block;
    text-align: center;
    margin: 0;
  }

  .first_rating {
    margin: 20px auto;
    width: 90%;
  }

  .second_rating {
    margin: 0 auto;
    width: 90%;
  }

  .third_rating {
    margin: 20px auto;
    width: 60%;
    width: 90%;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  img[alt="profile picture"] {
    border-radius: 50%;
    width: 10%;
  }

  .testimonial_colton,
  .testimonial_irene,
  .testimonial_anne {
    height: 14em;
    width: 100%;
    margin: 20px auto;
  }

  span {
    display: block;
  }
}
